@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg,#7d5fff,#7158e2);
    /* 引入字体 */
    font-family: 'Roboto' sans-serif;
    /* 弹性布局 水平 + 垂直居中 */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* 溢出隐藏 */
    overflow: hidden;
    margin: 0;
}

.search{
    /* 相对定位 */
    position: relative;
    height: 50px;
}

/* 输入框 */
.search .input{
    background-color: #fff;
    /* 边框设置为0 */
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}
/* 按钮 */
.btn{
    background-color: #fff;
    border: 0;
    /* 鼠标放上变小手 */
    cursor: pointer;
    font-size: 24px;
    /* 绝对定位 */
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}
.btn:focus, 
.input:focus {
    outline: none;
}
.search.active .input{
    width: 200px;
}
.search.active .btn{
    transform: translateX(198px);
}