@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    /* 标准盒子模型 */
    box-sizing: border-box;
}

body{
    /* 引入字体 */
    font-family: 'Ubuntu',sans-serif;
    /* 弹性布局 水平 + 垂直居中 */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 100%的窗口高度 */
    height: 100vh;
    /* 溢出隐藏 */
    overflow: hidden;
    margin: 0;
}

/* https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80' */
.bg{
    background: url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80')
    no-repeat center center/cover;
    /* 绝对定位 */
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    /* 模糊滤镜 */
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: #fff;
}